@charset "utf-8";

/*ν—¤λ”*/
#header{background: url(/aesop/images/sub/headerBg.png) no-repeat center center; background-size: cover; height: 200px; position: relative;}
#header a{color: #fff; font-weight: 200;}
nav{text-align: center; }
.gnb h1{float: left; margin-right: 0px; display: inline-block;vertical-align: middle;}

.gnb{height: 50px; display: inline-block;margin-top: 20}
.gnb li{float: left; padding-left: 130px; line-height: 50px;}
.gnb li a{}

.utill{position: absolute; bottom: 50px;;left: 50%; margin-left: -600px; }
.utill li{float: left;}
.utill li:first-child{position: absolute; left: 0;}
.utill li:last-child{position: absolute ;right: 0;}
.utill .surchBox {position: absolute; left: 340; width: 450px; height: 32; padding-left: 10px; border-radius: 8px; background: #E1DEDE;}
.utill .surch{position: absolute; right: 187px;}

/*ν‘Έν„°*/
#footer{background: #1E1C1C; color: #fff; height: 50px;padding: 50px 0;}

.fLogo{font-size: 18px; font-weight: 100; float: left;margin: 0 80px;}
.fLogo p{line-height: 50px;}
.fLogo span{font-size: 22px; vertical-align: middle;}

.fSns{line-height: 50px;}
.fSns li{float: left; margin-right: 20px;  }
.fSns li img{vertical-align: middle;display: inline-block; }

.fInfo{font-size: 13px; font-weight: 100; float: right; width: 1000px; line-height: 23px; 
        line-height: 25px; margin-right: 30px;}
.fInfo li{float: left; margin-left: 10px;}
